<form action='/users' method='post'>
	Name: <input type="text" name="name" value="name">
	Email: <input type="text" name="email"  value="email">
	Password: <input name="password" type='password'>
	Password Confirmation: <input name="password_confirmation" type="password_confirmation">
	<input type='submit' value='Sign up'>
</form>

